<div class="nested-fields">
  <div>
    <div class="item-input-field">
      <%= f.input :name, label: false, placeholder: "Item Name" %>
    </div>
    <div class="remove-item-form-btn">
    <%= link_to_remove_association fa_icon("minus-square-o 2x"), f %>      
    </div>  
  </div>
</div>