.nav-bar {
  position: relative;
  height: 60px;
  background: #ccc;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px #888888;
}

.logo {
  display: inline-block;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
}

.logo-title {
  display: inline-block;
  position: absolute;
  /*font-family: 'Press Start 2P', cursive;*/
  margin: 0;
  top: 5px;
  left: 80px;
}

.nav-button {
  float: right;
  padding-top: 20px;
  padding-right: 15px;
}

canvas {
  width: 500px;
}

#my-canvas {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 500px;
  /*border: 1px solid #ccc;*/
  float: left;
  box-shadow: 0 2px 5px #888888;
}

.box-wrapper {
  display: inline-block;
  width: 640px;
}

.right-panel {
  float: right;
}

.locker-list {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.locker-title {
  width: 100%;
}

.box-form {
  float: left;
}

.new_box {
  max-height: 300px;
  overflow-y: scroll; 
}

#add-box-btn {
  display: inline-block;
}

.nested-fields {
  position: relative;
}

.item-input-field {
  display: inline-block;
  width: 85%;
}

.remove-item-form-btn {
  display: inline-block;
  position: absolute;
  padding-left: 10px;
  top: 5px;
}

.remove-item-form-btn a {
  color: red;
}

.links {
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

.box-list {
  height: 430px;
  overflow-y: scroll;
}

.ui-state-highlight {
  height: 62px;
  color: #ccc;
  opacity: 0.3;
}

.box-list-buttons {
  display: inline-block;
  margin-right: 10px;
  float: right;
}

.badge a {
  color: white;
  text-decoration: none;
}

.box-items {
  display: none;
}

.add-item-form {
  margin-top: 10px;
  display: none;
}

.add-item-btn {
  /*display: inline-block;*/
  /*float: right;*/
}

#box-filter {
  display: inline-block;
  float: right;
  border: 1px solid #ccc;
  padding: 5px 10px 5px 10px;
  border-radius: 17px;
}

#search-field {
  border: none;
  margin-left: 10px;
  outline: none;
}