.nav-bar {
  height: 50px;
  background: #ccc;
}

.nav-button {
  float: right;
  padding: 15px;
}

.locker-list {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

canvas {
  width: 500px;
}

#my-canvas {
  display: inline-block;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  float: left;
}

.box-form {
  float: left;
}